@import url(http://fonts.googleapis.com/css?family=Cabin);
.status-wrapper {
  background: #FFF;
  width: 220px;
}
.btn {
  background: #0B5A7C;
  border-radius: 5px;
  border-width: 0;
  color: #FFF; display:
  inline-block;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 25px auto;
  padding: 10px 15px;
  text-decoration: none;
}
.btn:hover{cursor: pointer;
  text-decoration: underline;
}
.btn.brevkasser{margin: 10px 0 0 25px;}
.btn.pairchat{
  display: none;
  margin-left: 33px;
  margin-top: 50px;
}
.status-content{
  float: right;
  padding: 0 8px;
  width: 158px;
}
.status-tab{
  background:url("http://netstofchat.cybhus.dk/sites/all/themes/netstofchat/img/chat-close.png") no-repeat;
  display: inline-block;
  height: 162px;
  width: 41px;
}
.status-info{
  font-family: 'Cabin', sans-serif;
  font-size: 11px;
  margin: 8px 0 4px;
}
.read-more {
  display: inline-block;
  margin: 10px 0 0;
  text-align: center;
  width: 100%;
}
.read-more a{
  color: #0B5A7C;
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
  text-decoration: none;
}
.read-more a:hover{text-decoration: underline;}
