body,
.status-wrapper {
  background: none;
  width: 100%;
}

.btn.pairchat {
  display: block;
  width: 210px; height: 86px;
  background: url(http://netstofchat.cybhus.dk/sites/default/files/chat-open-header.png);
  /*Hide text*/
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
