body,
.status-wrapper {
  background: none;
  width: 100%;
}

.btn.pairchat {
  display: block;
  width: 120px; height: 86px;
  background: url(http://netstofchat.cybhus.dk/sites/default/files/chat-open-header.png) #f00;
}
