@import url(http://fonts.googleapis.com/css?family=Cabin);

.status-wrapper {
  background: #ffebce;
  width: 100%;
}

.btn {
  background: #0B5A7C;
  border-radius: 5px;
  border-width: 0;
  color: #FFF; display:
  inline-block;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  font-weight: bold;
  margin: 25px auto;
  padding: 10px 15px;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.btn.brevkasser {
}

.btn.pairchat {
  display: none;
}
.status-content {
  padding: 10px;
}

.status-tab {
  background:url("http://netstofchat.cybhus.dk/sites/default/files/chat-close-horizontal.png") no-repeat #fe6421;
  display: block;
  height: 41px;
  width: 100%;
}

.status-info {
  font-family: 'Cabin', sans-serif;
  font-size: 13px;
  margin: 8px 0 4px;
}

.read-more {
  display: inline-block;
  margin: 10px 0 0;
  text-align: center;
  width: 100%;
}

.read-more a {
  color: #0B5A7C;
  font-family: 'Cabin', sans-serif;
  font-size: 13px;
  text-decoration: none;
}

.read-more a:hover {
  text-decoration: underline;
}
